<h2>Load saved individuals</h2>

<button type="button" (click)="loadDefaultIndividuals()">Load</button>

<app-age-requirement (allowUnderageIndividualsValueChanged)="updateApplicationForm($event)"></app-age-requirement>

<h2>Current individuals</h2>

<form [formGroup]="form">
  <div formArrayName="individuals" *ngFor="let individual of individualsFormArray.controls; let i = index; trackBy: customTrackBy">
    <app-individual [formControl]="individual">
      <button type="button" (click)="removeIndividual(individual.value.id)">x</button>
    </app-individual>
  </div>
  <div *ngIf="form.hasError('individualArrayValidatorError')" style="color: red;">Must have a minimum of one individual 18 years of age or over</div>
</form>

<div>
  <button type="button" (click)="addIndividual()">Add</button>
  <button type="button" (click)="updateIndividuals(form.value)">Save</button>
</div>

<h2>Store</h2>

<div>
  <pre>{{ store$ | async | json }}</pre>
</div>

<h2>Form</h2>

<div>
  <pre>{{ form.value | json }}</pre>
</div>
